# General
/vendor/
/.env
/.env.local
/.env.*
/src/Generated
/src/Orm

# IDE
.idea/
.vscode/
*.iml

# PHP / Cache
/.php_cs.cache
/.php-cs-fixer.cache
/.phpunit.result.cache
/var/
/cache/
/tmp/

# Logs
/logs/
*.log
/tests/MollieTest/*/*/_output/*
/tests/MollieTest/*/*/_support/_generated/*

# Node (if present in consuming projects)
/node_modules/
