{% extends model('component') %}

{% define config = {
    name: 'mollie-apple-pay-component',
    tag: 'mollie-apple-pay-component',
} %}

{% define attributes = {
    'form-selector': '[name="paymentForm"]',
    'selected-payment-method': '[name="paymentForm[paymentSelection]"]:checked',
    'locale': app.locale,
} %}

{% block body %}
    <div class="spacing-top--big">{{ 'checkout.payment.provider.mollieApplePay.descriptionText' | trans }}</div>
{% endblock %}