@mixin mollie-credit-card-component($name: '.mollie-credit-card-component') {
    #{$name} {

        &__form-group {
            margin-bottom: rem(12);
        }

         &__label {
            display: block;
            font-weight: fw(medium);
            margin-bottom: rem(4);
        }

        &__field-error {
            font-weight: fw(medium);
            font-size: rem(12);
            margin-top: rem(2);
            color: helper-color-light(map-get($setting-color-actions, 'alert'), 10);
        }

        &__wrapper {

            .mollie-component {
                background: $setting-color-white;
                border: rem(1) solid $setting-color-gray-1;
                padding: rem(14) rem(20) rem(13);
                font-weight: fw(medium);

                iframe {
                    margin: 0;
                }
            }
        }
        @content;
    }
}

@include mollie-credit-card-component()
