@mixin mollie-credit-card-component($name: '.mollie-credit-card-component') {
    #{$name} {
        &__wrapper {

            &--form-group {
                margin-bottom: rem(12);
            }

            &--label {
                display: block;
                font-weight: fw(medium);
                margin-bottom: rem(4);
            }

            &--field-error {
                font-weight: fw(medium);
                font-size: rem(12);
                margin-top: rem(2);
                color: helper-color-light(map-get($setting-color-actions, 'alert'), 10);
            }

            .mollie-component {
                background: $setting-color-white;
                box-shadow: rem(0) rem(1) rem(0) rgba(0, 0, 0, 0.1), rem(0) rem(2) rem(4) rgba(0, 0, 0, 0.1),
                rem(0) rem(4) rem(8) rgba(0, 0, 0, 0.05);
                border-radius: rem(4);
                padding: rem(6);
                border: rem(1) solid transparent;
                transition: 0.15s border-color cubic-bezier(0.4, 0, 0.2, 1);
                font-weight: fw(medium);

            }
        }
        @content;
    }
}

@include mollie-credit-card-component()
